body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

button {
  padding: 10px;
  background: #4f46e5;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  padding: 5em;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h2 {
  text-align: center;
  margin-bottom: 16px;
}
.navbar {
  background: #736fc2;
  color: white;
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar button {
  width: auto;
  background: #ef4444;
}

.link-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.logo {
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.active {
  border-bottom: 2px solid white;
}

.logout-btn {
  background: #ef4444;
  border: none;
  color: white;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 4px;
}

.footer {
  background: #f1f1f1;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  color: #555;
}.categories {
  margin-top: 60px;
  padding: 0 10px;
}

.section-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
}

/* Card */
.category-card {
  position: relative;
  cursor: pointer;
  border-radius: 14px;
  overflow: hidden;
  height: 420px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.category-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.18);
}

/* Image */
.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.category-card:hover img {
  transform: scale(1.08);
}

/* Overlay */
.category-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.15)
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.category-card:hover .category-overlay {
  opacity: 1;
}

.category-overlay h4 {
  font-size: 22px;
  margin-bottom: 12px;
  text-transform: capitalize;
}

/* Button */
.shop-btn {
  background: #736fc2;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.shop-btn:hover {
  background: #5c58a9;
}

