body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

button {
  padding: 10px;
  background: #4f46e5;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  padding: 5em;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h2 {
  text-align: center;
  margin-bottom: 16px;
}
.navbar {
  background: #736fc2;
  color: white;
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar button {
  width: auto;
  background: #ef4444;
}

.link-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.logo {
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.active {
  border-bottom: 2px solid white;
}

.logout-btn {
  background: #ef4444;
  border: none;
  color: white;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 4px;
}

.footer {
  background: #f1f1f1;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  color: #555;
}
.categories {
  margin-top: 40px;
}

.categories h3 {
  margin-bottom: 20px;
  font-size: 22px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.category-card {
  cursor: pointer;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.category-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.category-card img {
  width: 100%;
  height: 534px;
  object-fit: cover;
}

.category-card h4 {
  padding: 15px;
  font-size: 18px;
}
